# Dependency directories
node_modules/

# VsCode
.vscode/*
!.vscode/launch.json

# Visual Studio
.vs

# Build directories
lib
dist

# Individual files
spec/test-results-output/test-report.html
playground/www/index.js
